[{:type :shape
  :sides 3
  :kind :triangle}
 {:type :shape
  :sides 4
  :kind :square}
 {:type :shape
  :sides 4
  :kind :rect}
 {:type :shape
  :sides 1
  :kind :circle}
 {:type :shape
  :kind :quad
  :sides 4}]
