[{:type :instance-shape, :e 42, :v :triangle}
 {:type :instance-shape, :e 43, :v :square}
 {:type :instance-shape, :e 44, :v :rect}
 {:type :instance-shape, :e 45, :v :circle}
 {:type :instance-4sides, :e 43}
 {:type :instance-4sides, :e 44}]
