.rc-title, .rc-button {
  font-family: "Arvo", "Times New Roman", Times, serif;
  color: #fc4a1a;
/*   padding-left:1ch; */
}

.list-group {
 color:black;
}

.rc-label {
  margin-right: 1ch;
}

.level1 {
  font-size: 2rem;
  font-variant:   small-caps;
}
.level2 {
  font-size: 1.5rem;
}
.level3 {
  font-size: 1.25rem;
}
.level4 {
  font-size: 1rem;
}

html, body {
  font-family "Work Sans", Roboto, "Trebuchet MS", Helvetica, sans-serif;
  color: #c0b283;
}
body {
  background: radial-gradient(circle at 10% 10%, #111, #888);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.onyx-task {
  background-color: PaleTurquoise;
  color: black;
}

.onyx-button, .rc-title {
  margin-right: .5ch;
/*   margin-top: auto;
  margin-bottom: auto; */
}

.onyx-field-label {
/*   font-family: "Arvo", "Times New Roman", Times, serif; */
  color: #fc4a1a;
  font-variant:   small-caps;
}

.onyx-panel {
/*   margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1ch;
  margin-right: 1ch; */
/*   padding-left: 1ch;
  padding-right: 1ch;
  padding-top: .5em;
  padding-bottom: .5em; */
  padding: .5rem;
/*   margin-left: .25rem; */
}

.onyx-inbox, .onyx-outbox {
  background-color: LightCyan;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: .5em;
  padding-bottom: .5em;
}

.onyx-pc {
/*   ???: how to get horizontal elements centered or aligned bottom sp you can put fields next to labels
  align-items: center;
  justify-content: center; */
}

.rc-code, code, pre {
  background:     white;
/*     margin-right:   0.2em;
    border-radius:  4px;
    color:          #333;
    background:     #eee;
    border:         1px solid #ddd;
    padding:        0.1em 0.3em; */
}

.segment {
/*   color: green; */
}
