.rc-title {
  font-family: "Arvo", "Times New Roman", Times, serif;
}

.level1 {
  font-size: 2rem;
  font-variant:   small-caps;
}
.level2 {
  font-size: 1.5rem;
}
.level3 {
  font-size: 1.25rem;
}
.level4 {
  font-size: 1rem;
}

.html, .body {
  font-family "Work Sans", Roboto, "Trebuchet MS", Helvetica, sans-serif;
}

.task {
  background-color: LightCyan;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1ch;
  margin-right: 1ch;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: .5em;
  padding-bottom: .5em;
}

.inbox, .outbox {
  background-color: PaleTurquoise;

  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: .5em;
  padding-bottom: .5em;
}

.onyx-pc {
/*   ???: how to get horizontal elements centered or aligned bottom sp you can put fields next to labels
  align-items: center;
  justify-content: center; */
}

.rc-code, code {
/*     margin-right:   0.2em;
    border-radius:  4px;
    color:          #333;
    background:     #eee;
    border:         1px solid #ddd;
    padding:        0.1em 0.3em; */
}

.segment {
/*   color: green; */
}
